@media screen and (min-width: 480px) {
  #leftsidebar {width: 200px; float: left;}
  #main {margin-left: 216px;}
}
table, th, td {
  border: 1px solid black;
  padding: 15px;
  text-align: left;
  background-color: teal;
    color: white;
}
nav{
  text-align-last: right;
}
h1 {
    text-align: left;
    color: white;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
  }
  h2 {
    color: teal;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
  }
  
  h3 {
    color: teal;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
  }
  
  img {
    background-color: gray;
  }
  
  section {
    background-color: white;
  }
  
  p {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    background-color: white;
   text-align: justify;
  }
  .current{

    border: 5px;
    border-width: 5px;
    border-color: teal;
    border-style: solid;

}
.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
  body {
    background-color: lightgrey;
}
